body{
    background-image: url(szorgalmi\ feladat\ képek/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-size: 100%;
    color: white;
    text-align: center;
}
.ie{
    width: 50px;
    height: 50px;
    cursor:pointer;
}
.betu{
    cursor:pointer;
    color: white;
    text-align: center;

}
.ie:hover, .betu:hover{
    background-color: lightblue;
    opacity: 40%;

}
