body{
    background-image: url(szorgalmi\ feladat\ képek/browser.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: white;
    text-align: center;
}
div{   right: 0px;
    top: 0px;
}